:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ff9500;
  text-decoration: inherit;
}

a:hover {
  color: #cc7a00;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 0;
  color: #ff9500;
}

p {
  color: #ff9500;
}

.card {
  padding: 2em;
}

#app {
  max-width: 95%;
  margin: 0 auto;
  padding: 0.5rem;
  padding-top: 1.5em;
  text-align: center;
}

button {
  padding: 10px 20px;
  background-color: #ff9500;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #cc7a00;
}

.grey-btn {
  background-color: #404040;
}

.grey-btn:hover {
  background-color: #777;
}

button:disabled {
  background-color: #777;
  cursor: default;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

label {
  margin: 10px 0 5px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: start;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  resize: none;
  line-height: normal;
}

textarea:focus,
input:focus,
select:focus {
  border-color: #ff9500;
  outline: none;
  box-shadow: 0 0 3px #ff9500;
}

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover,
select:disabled,
select:disabled:hover {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(200, 200, 200, 0.1));
  color: #888;
  cursor: not-allowed;
}

input:hover,
textarea:hover,
select:hover {
  background-color: #444;
}

select {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.delete-icon {
  background: none;
  border: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ff9500;
  position: absolute;
}

.delete-icon:hover {
  background: none;
  border: none;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ff9500;
  position: absolute;
}

.table-btn {
  width: 100%;
  background-color: #404040;
}

.table-div {
  overflow-y: auto;
  min-height: 300px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  padding-top: 0;
  background-color: #333;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #444;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #3a3a3a;
  color: #ff9500;
  font-weight: bold;
  z-index: 10;
}

tbody tr {
  z-index: 1;
}

.table-btn {
  width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.rotate-device-message {
  margin-top: 150px;
  height: 80vh;
  height: 80vh;
  color: #ff9500;
  font-size: 24px;
}

.collapsible-content {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}

.error-message {
  color: #ff9500;
  text-align: center;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 500;
  background: rgba(0, 0, 0, 0.5);
}

.confirmation-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 600;
}

.confirmation-modal {
  width: 30vw;
  min-width: 200px;
  max-width: 400px;
  background: #2d2d2d;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  color: white;
}

.confirmation-modal p {
  text-align: center;
  margin-bottom: 20px;
  color: #ff9500;
}


.profile-content {
  width: 400px;
  min-width: 250px;
  padding: 20px;
  background: #2d2d2d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  color: white;
}

@media (max-width: 768px) {
  .profile-content {
    margin-top: 20px;
    width: 70%;
  }
}

.event-modal-content {
  width: 40vw;
  min-width: 250px;
  max-width: 500px;
  padding: 20px;
  padding-top: 10px;
  background: #2d2d2d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  color: white;
  max-height: 80vh;
  overflow-y: auto;

  @media (max-height: 1200px) {
    max-height: 80vh;
    overflow-y: auto;
  }

  position: relative;
}

.search-result-modal-content {
  background: #2d2d2d;
  width: 70vw;
  min-width: 800px;
  padding: 20px;
  padding-top: 10px;
  overflow-y: auto;
  max-height: 80vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
}

.home-content {
  margin: 100px auto;
  width: 90%;
  max-width: 1000px;
  padding: 50px;
  background: #2d2d2d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  pointer-events: auto;
  color: white;
}

.widget-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.widget-box {
  flex: 0 0 calc(33.33% - 20px);
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.widget-box h3 {
  margin-top: 0;
  color: #ff9500;
}

.widget-box:hover {
  background-color: #6e6e6e;
}

@media (max-width: 768px) {
  .widget-container {
    flex-direction: column;
  }

  .widget-box {
    margin-top: 15px;
    padding: 15px;
  }
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #cc7a00;
  }

  button {
    background-color: #f9f9f9;
  }
}